{
  "parserOptions": {"ecmaVersion": 2018, "sourceType": "module"},
  "env": {"node": true},
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "accessor-pairs": "error",
    "array-callback-return": "error",
    "block-scoped-var": "error",
    "constructor-super": "error",
    "default-case": "error",
    "dot-notation": "error",
    "for-direction": "error",
    "func-name-matching": "error",
    "getter-return": "error",
    "guard-for-in": "warn",
    "handle-callback-err": "warn",
    "linebreak-style": ["error", "unix"],
    "max-depth": "warn",
    "max-nested-callbacks": ["warn", 4],
    "max-params": ["warn", {"max": 4}],
    "max-statements-per-line": "error",
    "no-alert": "error",
    "no-array-constructor": "error",
    "no-await-in-loop": "warn",
    "no-caller": "error",
    "no-case-declarations": "error",
    "no-class-assign": "error",
    "no-compare-neg-zero": "error",
    "no-cond-assign": "error",
    "no-console": "error",
    "no-const-assign": "error",
    "no-constant-condition": "error",
    "no-control-regex": "error",
    "no-debugger": "error",
    "no-delete-var": "error",
    "no-div-regex": "error",
    "no-dupe-args": "error",
    "no-dupe-class-members": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-else-return": "off",
    "no-empty": ["error", {"allowEmptyCatch": true}],
    "no-empty-character-class": "error",
    "no-empty-pattern": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-ex-assign": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-label": "error",
    "no-fallthrough": "error",
    "no-func-assign": "error",
    "no-global-assign": "error",
    "no-implicit-coercion": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-inner-declarations": "error",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-iterator": "error",
    "no-label-var": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "error",
    "no-loop-func": "error",
    "no-mixed-operators": "error",
    "no-mixed-requires": ["error", {"grouping": true, "allowCall": true}],
    "no-multi-assign": "error",
    "no-multi-str": "error",
    "no-negated-condition": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-require": "error",
    "no-new-symbol": "error",
    "no-new-wrappers": "error",
    "no-obj-calls": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-path-concat": "error",
    "no-proto": "error",
    "no-prototype-builtins": "error",
    "no-redeclare": "error",
    "no-restricted-globals": ["error", "event"],
    "no-restricted-syntax": ["error", "WithStatement"],
    "no-return-assign": "off",
    "no-return-await": "error",
    "no-script-url": "error",
    "no-self-assign": ["error", {"props": true}],
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow-restricted-names": "error",
    "no-sparse-arrays": "error",
    "no-template-curly-in-string": "error",
    "no-this-before-super": "error",
    "no-throw-literal": "error",
    "no-undef": ["error", {"typeof": true}],
    "no-undef-init": "error",
    "no-unmodified-loop-condition": "error",
    "no-unneeded-ternary": "error",
    "no-unreachable": "error",
    "no-unsafe-finally": "error",
    "no-unsafe-negation": "error",
    "no-unused-expressions": "error",
    "no-unused-labels": "error",
    "no-unused-vars": ["error", {"ignoreRestSiblings": true}],
    "no-use-before-define": ["error", "nofunc"],
    "no-useless-call": "error",
    "no-useless-computed-key": "error",
    "no-useless-concat": "error",
    "no-useless-constructor": "error",
    "no-useless-escape": "error",
    "no-useless-rename": "error",
    "no-useless-return": "error",
    "no-var": "error",
    "no-void": "error",
    "no-warning-comments": "warn",
    "no-with": "error",
    "object-shorthand": ["error", "always"],
    "one-var": ["error", {"initialized": "never", "uninitialized": "always"}],
    "operator-assignment": ["error", "always"],
    "prefer-arrow-callback": "error",
    "prefer-const": ["error", {"destructuring": "all"}],
    "prefer-numeric-literals": "error",
    "prefer-promise-reject-errors": "error",
    "require-yield": "error",
    "symbol-description": "error",
    "use-isnan": "error",
    "valid-typeof": ["error", {"requireStringLiterals": true}],
    "camelcase": ["error", {"properties": "always"}],
    "complexity": ["warn", 10],
    "eqeqeq": "error",
    "radix": "error",
    "yoda": "error"
  },
  "overrides": [
    {
      "files": ["*.test.js"],
      "rules": {"no-unused-expressions": "off"}
    }
  ]
}
